# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\SkyLab\OneDrive\Sessions - H2021\INF1007\GitHub\2021h-ch2-exercices-SkyLabSeb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
